/*OfficinaSansBlack*/
@font-face {
    font-family: 'OfficinaSansBlack';
    src: url('../fonts/OfficinaSansBlack.eot');
    src: url('../fonts/OfficinaSansBlack.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSansBlack.woff2') format('woff2'),
         url('../fonts/OfficinaSansBlack.woff') format('woff'),
         url('../fonts/OfficinaSansBlack.ttf') format('truetype'),
         url('../fonts/OfficinaSansBlack.svg#OfficinaSansBlack') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSansBlackItalic';
    src: url('../fonts/OfficinaSansBlackItalic.eot');
    src: url('../fonts/OfficinaSansBlackItalic.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSansBlackItalic.woff2') format('woff2'),
         url('../fonts/OfficinaSansBlackItalic.woff') format('woff'),
         url('../fonts/OfficinaSansBlackItalic.ttf') format('truetype'),
         url('../fonts/OfficinaSansBlackItalic.svg#OfficinaSansBlackItalic') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSansBold';
    src: url('../fonts/OfficinaSansBold.eot');
    src: url('../fonts/OfficinaSansBold.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSansBold.woff2') format('woff2'),
         url('../fonts/OfficinaSansBold.woff') format('woff'),
         url('../fonts/OfficinaSansBold.ttf') format('truetype'),
         url('../fonts/OfficinaSansBold.svg#OfficinaSansBold') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSansBoldItalic';
    src: url('../fonts/OfficinaSansBoldItalic.eot');
    src: url('../fonts/OfficinaSansBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSansBoldItalic.woff2') format('woff2'),
         url('../fonts/OfficinaSansBoldItalic.woff') format('woff'),
         url('../fonts/OfficinaSansBoldItalic.ttf') format('truetype'),
         url('../fonts/OfficinaSansBoldItalic.svg#OfficinaSansBoldItalic') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSansBook';
    src: url('../fonts/OfficinaSansBook.eot');
    src: url('../fonts/OfficinaSansBook.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSansBook.woff2') format('woff2'),
         url('../fonts/OfficinaSansBook.woff') format('woff'),
         url('../fonts/OfficinaSansBook.ttf') format('truetype'),
         url('../fonts/OfficinaSansBook.svg#OfficinaSansBook') format('svg');
        font-style: normal;
    	font-weight: normal;
}
/*OfficinaSansBookC*/
@font-face {
    font-family: 'OfficinaSansBookC';
    src: url('fonts/OfficinaSansBookC.eot');
    src: url('fonts/OfficinaSansBookC.eot') format('embedded-opentype'),
         url('fonts/OfficinaSansBookC.woff2') format('woff2'),
         url('fonts/OfficinaSansBookC.woff') format('woff'),
         url('fonts/OfficinaSansBookC.ttf') format('truetype'),
         url('fonts/OfficinaSansBookC.svg#OfficinaSansBookC') format('svg');
        font-style: normal;
    	font-weight: normal;
}

@font-face {
    font-family: 'OfficinaSansBookItalic';
    src: url('../fonts/OfficinaSansBookItalic.eot');
    src: url('../fonts/OfficinaSansBookItalic.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSansBookItalic.woff2') format('woff2'),
         url('../fonts/OfficinaSansBookItalic.woff') format('woff'),
         url('../fonts/OfficinaSansBookItalic.ttf') format('truetype'),
         url('../fonts/OfficinaSansBookItalic.svg#OfficinaSansBookItalic') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSansExtraBold';
    src: url('../fonts/OfficinaSansExtraBold.eot');
    src: url('../fonts/OfficinaSansExtraBold.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSansExtraBold.woff2') format('woff2'),
         url('../fonts/OfficinaSansExtraBold.woff') format('woff'),
         url('../fonts/OfficinaSansExtraBold.ttf') format('truetype'),
         url('../fonts/OfficinaSansExtraBold.svg#OfficinaSansExtraBold') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSansExtraBoldItalic';
    src: url('../fonts/OfficinaSansExtraBoldItalic.eot');
    src: url('../fonts/OfficinaSansExtraBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSansExtraBoldItalic.woff2') format('woff2'),
         url('../fonts/OfficinaSansExtraBoldItalic.woff') format('woff'),
         url('../fonts/OfficinaSansExtraBoldItalic.ttf') format('truetype'),
         url('../fonts/OfficinaSansExtraBoldItalic.svg#OfficinaSansExtraBoldItalic') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSansMedium';
    src: url('../fonts/OfficinaSansMedium.eot');
    src: url('../fonts/OfficinaSansMedium.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSansMedium.woff2') format('woff2'),
         url('../fonts/OfficinaSansMedium.woff') format('woff'),
         url('../fonts/OfficinaSansMedium.ttf') format('truetype'),
         url('../fonts/OfficinaSansMedium.svg#OfficinaSansMedium') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSansMediumItalic';
    src: url('../fonts/OfficinaSansMediumItalic.eot');
    src: url('../fonts/OfficinaSansMediumItalic.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSansMediumItalic.woff2') format('woff2'),
         url('../fonts/OfficinaSansMediumItalic.woff') format('woff'),
         url('../fonts/OfficinaSansMediumItalic.ttf') format('truetype'),
         url('../fonts/OfficinaSansMediumItalic.svg#OfficinaSansMediumItalic') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSerifBold';
    src: url('../fonts/OfficinaSerifBold.eot');
    src: url('../fonts/OfficinaSerifBold.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSerifBold.woff2') format('woff2'),
         url('../fonts/OfficinaSerifBold.woff') format('woff'),
         url('../fonts/OfficinaSerifBold.ttf') format('truetype'),
         url('../fonts/OfficinaSerifBold.svg#OfficinaSerifBold') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSerifBoldItalic';
    src: url('../fonts/OfficinaSerifBoldItalic.eot');
    src: url('../fonts/OfficinaSerifBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSerifBoldItalic.woff2') format('woff2'),
         url('../fonts/OfficinaSerifBoldItalic.woff') format('woff'),
         url('../fonts/OfficinaSerifBoldItalic.ttf') format('truetype'),
         url('../fonts/OfficinaSerifBoldItalic.svg#OfficinaSerifBoldItalic') format('svg');
        font-style: normal;
    	font-weight: normal;
}
/*OfficinaSerifBoldC*/
@font-face {
    font-family: 'OfficinaSerifBoldC';
    src: url('../fonts/OfficinaSerifBoldC.eot');
    src: url('../fonts/OfficinaSerifBoldC.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSerifBoldC.woff2') format('woff2'),
         url('../fonts/OfficinaSerifBoldC.woff') format('woff'),
         url('../fonts/OfficinaSerifBoldC.ttf') format('truetype'),
         url('../fonts/OfficinaSerifBoldC.svg#OfficinaSerifBoldC') format('svg');
        font-style: normal;
    	font-weight: normal;
}
/*OfficinaSerifBlackC*/
@font-face {
    font-family: 'OfficinaSerifBlackC';
    src: url('../fonts/OfficinaSerifBlackC.eot');
    src: url('../fonts/OfficinaSerifBlackC.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSerifBlackC.woff2') format('woff2'),
         url('../fonts/OfficinaSerifBlackC.woff') format('woff'),
         url('../fonts/OfficinaSerifBlackC.ttf') format('truetype'),
         url('../fonts/OfficinaSerifBlackC.svg#OfficinaSerifBlackC') format('svg');
        font-style: normal;
    	font-weight: normal;
}


/*OfficinaSerifBook*/
@font-face {
    font-family: 'OfficinaSerifBook';
    src: url('../fonts/OfficinaSerifBook.eot');
    src: url('../fonts/OfficinaSerifBook.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSerifBook.woff2') format('woff2'),
         url('../fonts/OfficinaSerifBook.woff') format('woff'),
         url('../fonts/OfficinaSerifBook.ttf') format('truetype'),
         url('../fonts/OfficinaSerifBook.svg#OfficinaSerifBook') format('svg');
        font-style: normal;
    	font-weight: normal;
}
/*OfficinaSerifBookC*/
@font-face {
    font-family: 'OfficinaSerifBookC';
    src: url('fonts/OfficinaSerifBookC.eot');
    src: url('fonts/OfficinaSerifBookC.eot') format('embedded-opentype'),
         url('fonts/OfficinaSerifBookC.woff2') format('woff2'),
         url('fonts/OfficinaSerifBookC.woff') format('woff'),
         url('fonts/OfficinaSerifBookC.ttf') format('truetype'),
         url('fonts/OfficinaSerifBookC.svg#OfficinaSerifBookC') format('svg');
        font-style: normal;
    	font-weight: normal;
}

@font-face {
    font-family: 'OfficinaSerifBookItalic';
    src: url('../fonts/OfficinaSerifBookItalic.eot');
    src: url('../fonts/OfficinaSerifBookItalic.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSerifBookItalic.woff2') format('woff2'),
         url('../fonts/OfficinaSerifBookItalic.woff') format('woff'),
         url('../fonts/OfficinaSerifBookItalic.ttf') format('truetype'),
         url('../fonts/OfficinaSerifBookItalic.svg#OfficinaSerifBookItalic') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSerifMedium';
    src: url('../fonts/OfficinaSerifMedium.eot');
    src: url('../fonts/OfficinaSerifMedium.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSerifMedium.woff2') format('woff2'),
         url('../fonts/OfficinaSerifMedium.woff') format('woff'),
         url('../fonts/OfficinaSerifMedium.ttf') format('truetype'),
         url('../fonts/OfficinaSerifMedium.svg#OfficinaSerifMedium') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'OfficinaSerifMediumItalic';
    src: url('../fonts/OfficinaSerifMediumItalic.eot');
    src: url('../fonts/OfficinaSerifMediumItalic.eot') format('embedded-opentype'),
         url('../fonts/OfficinaSerifMediumItalic.woff2') format('woff2'),
         url('../fonts/OfficinaSerifMediumItalic.woff') format('woff'),
         url('../fonts/OfficinaSerifMediumItalic.ttf') format('truetype'),
         url('../fonts/OfficinaSerifMediumItalic.svg#OfficinaSerifMediumItalic') format('svg');
        font-style: normal;
    	font-weight: normal;
}
/*OfficinaSerifMediumOSC*/
@font-face {
    font-family: 'OfficinaSerifMediumOSC';
    src: url('fonts/OfficinaSerifMediumOSC.eot');
    src: url('fonts/OfficinaSerifMediumOSC.eot') format('embedded-opentype'),
         url('fonts/OfficinaSerifMediumOSC.woff2') format('woff2'),
         url('fonts/OfficinaSerifMediumOSC.woff') format('woff'),
         url('fonts/OfficinaSerifMediumOSC.ttf') format('truetype'),
         url('fonts/OfficinaSerifMediumOSC.svg#OfficinaSerifMediumOSC') format('svg');
        font-style: normal;
    	font-weight: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold.woff2') format('woff2'),
         url('../fonts/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold.ttf') format('truetype'),
         url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('../fonts/RobotoMedium.woff2') format('woff2'),
         url('../fonts/RobotoMedium.woff') format('woff'),
         url('../fonts/RobotoMedium.ttf') format('truetype'),
         url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'UbuntuBold';
    src: url('../fonts/UbuntuBold.eot');
    src: url('../fonts/UbuntuBold.eot') format('embedded-opentype'),
         url('../fonts/UbuntuBold.woff2') format('woff2'),
         url('../fonts/UbuntuBold.woff') format('woff'),
         url('../fonts/UbuntuBold.ttf') format('truetype'),
         url('../fonts/UbuntuBold.svg#UbuntuBold') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'UbuntuItalic';
    src: url('../fonts/UbuntuItalic.eot');
    src: url('../fonts/UbuntuItalic.eot') format('embedded-opentype'),
         url('../fonts/UbuntuItalic.woff2') format('woff2'),
         url('../fonts/UbuntuItalic.woff') format('woff'),
         url('../fonts/UbuntuItalic.ttf') format('truetype'),
         url('../fonts/UbuntuItalic.svg#UbuntuItalic') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'UbuntuLight';
    src: url('../fonts/UbuntuLight.eot');
    src: url('../fonts/UbuntuLight.eot') format('embedded-opentype'),
         url('../fonts/UbuntuLight.woff2') format('woff2'),
         url('../fonts/UbuntuLight.woff') format('woff'),
         url('../fonts/UbuntuLight.ttf') format('truetype'),
         url('../fonts/UbuntuLight.svg#UbuntuLight') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'UbuntuLightItalic';
    src: url('../fonts/UbuntuLightItalic.eot');
    src: url('../fonts/UbuntuLightItalic.eot') format('embedded-opentype'),
         url('../fonts/UbuntuLightItalic.woff2') format('woff2'),
         url('../fonts/UbuntuLightItalic.woff') format('woff'),
         url('../fonts/UbuntuLightItalic.ttf') format('truetype'),
         url('../fonts/UbuntuLightItalic.svg#UbuntuLightItalic') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'UbuntuMedium';
    src: url('../fonts/UbuntuMedium.eot');
    src: url('../fonts/UbuntuMedium.eot') format('embedded-opentype'),
         url('../fonts/UbuntuMedium.woff2') format('woff2'),
         url('../fonts/UbuntuMedium.woff') format('woff'),
         url('../fonts/UbuntuMedium.ttf') format('truetype'),
         url('../fonts/UbuntuMedium.svg#UbuntuMedium') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'UbuntuMediumItalic';
    src: url('../fonts/UbuntuMediumItalic.eot');
    src: url('../fonts/UbuntuMediumItalic.eot') format('embedded-opentype'),
         url('../fonts/UbuntuMediumItalic.woff2') format('woff2'),
         url('../fonts/UbuntuMediumItalic.woff') format('woff'),
         url('../fonts/UbuntuMediumItalic.ttf') format('truetype'),
         url('../fonts/UbuntuMediumItalic.svg#UbuntuMediumItalic') format('svg');
        font-style: normal;
    	font-weight: normal;
}
@font-face {
    font-family: 'UbuntuRegular';
    src: url('../fonts/UbuntuRegular.eot');
    src: url('../fonts/UbuntuRegular.eot') format('embedded-opentype'),
         url('../fonts/UbuntuRegular.woff2') format('woff2'),
         url('../fonts/UbuntuRegular.woff') format('woff'),
         url('../fonts/UbuntuRegular.ttf') format('truetype'),
         url('../fonts/UbuntuRegular.svg#UbuntuRegular') format('svg');
        font-style: normal;
    	font-weight: normal;
}
